html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:#f5e8ba;
}
#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}
h2{
    color:#ffeba7;
    letter-spacing: 1px;
}
#wrapper{
    height: 80%;
    width:70%;
    margin: 20px auto;
    background-color:#1f2029;
    border-radius:10px;
    padding:5%;
}
button{
    margin-top:5%;
    background-color:#ffeba7;
    border-radius: 4px;
    height: 40%;
    width:40%;
    font-weight: 800;
    padding: 0.5em;
    font-size: 3em;
    letter-spacing: 0.005em;
    border: none;
    /* background-color: #ffeba7; */
    color: #102770;
}
button:hover{
    cursor:pointer;  
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}
textarea{
    border-radius: 5px;
    border: 2px solid blue;
    margin-top:30px;
    width:80%;
    padding-left:10px;
}
textarea:active{ 
    border: 8px solid green}
    textarea:focus{ font-size: 2em;}
